{:des "Single character mode"
 :rules [ :adjusted-typing-layer
          ; {:des "q+y to macro case" :rules [[ :f21 [:TURN_ON_WRITING_LAYER :TURN_ON_MACRO_CASE]]]}
          ; {:des "q+semicolon to camel case" :rules [[ :f22 [:TURN_ON_WRITING_LAYER :TURN_ON_CAMEL_CASE]]]}
          [:##q [:grave_accent_and_tilde :grave_accent_and_tilde :grave_accent_and_tilde]]
          [:##w [:grave_accent_and_tilde :grave_accent_and_tilde :grave_accent_and_tilde :j :a :v :a]]
          [:##f [:grave_accent_and_tilde :grave_accent_and_tilde :grave_accent_and_tilde :j :s :o :n]]
          [:##p [:grave_accent_and_tilde :grave_accent_and_tilde :grave_accent_and_tilde]]
          [:##b [:open_braces :return_or_enter :return_or_enter :up_arrow :dquote :dquote :left_arrow :close_braces]]
          [:##a [:TURN_ON_WRITING_LAYER :TURN_ON_SNAKE_CASE]]
          [:##r [:TURN_ON_WRITING_LAYER :TURN_ON_MACRO_CASE]]
          [:##s [:TURN_ON_WRITING_LAYER :TURN_ON_CAMEL_CASE]]
          [:##t [:TURN_ON_WRITING_LAYER :TURN_ON_CAMEL_CASE]]
          [:##g []]
          [:##z []]
          [:##x [:TURN_ON_WRITING_LAYER :TURN_ON_DASH_CASE]]
          [:##c [:TURN_ON_WRITING_LAYER :TURN_ON_CAMEL_CASE ["camel-case-space" 1]]]
          [:##d [:TURN_ON_WRITING_LAYER :TURN_ON_CAMEL_CASE ["camel-case-space" 1]]]
          [:##v []]
          [:##j []]
          [:##l []]
          [:##u []]
          [:##y []]
          [:##semicolon []]
          [:##m []]
          [:##n []]
          [:##e []]
          [:##i []]
          [:##o []]
          [:##k []]
          [:##h []]
]}

{:des "snake case"
 :rules [ :snake-case
          [:spacebar [:delete_or_backspace :spacebar ["snake-case" 0] ["snake-case-space" 0]] :snake-case-space]
          [:spacebar [["snake-case-space" 1] :underscore]]

          [:q [["snake-case-space" 0] :q]]
          [:w [["snake-case-space" 0] :w]]
          [:f [["snake-case-space" 0] :f]]
          [:p [["snake-case-space" 0] :p]]
          [:b [["snake-case-space" 0] :b]]
          [:a [["snake-case-space" 0] :a]]
          [:r [["snake-case-space" 0] :r]]
          [:s [["snake-case-space" 0] :s]]
          [:t [["snake-case-space" 0] :t]]
          [:g [["snake-case-space" 0] :g]]
          [:z [["snake-case-space" 0] :z]]
          [:x [["snake-case-space" 0] :x]]
          [:c [["snake-case-space" 0] :c]]
          [:d [["snake-case-space" 0] :d]]
          [:v [["snake-case-space" 0] :v]]
          [:j [["snake-case-space" 0] :j]]
          [:l [["snake-case-space" 0] :l]]
          [:u [["snake-case-space" 0] :u]]
          [:y [["snake-case-space" 0] :y]]
          [:m [["snake-case-space" 0] :m]]
          [:n [["snake-case-space" 0] :n]]
          [:e [["snake-case-space" 0] :e]]
          [:i [["snake-case-space" 0] :i]]
          [:o [["snake-case-space" 0] :o]]
          [:k [["snake-case-space" 0] :k]]
          [:h [["snake-case-space" 0] :h]]
          [:#SScomma [:TURN_ON_WRITING_LAYER :comma]]
          [:#SSperiod [:TURN_ON_WRITING_LAYER :period]]
          [:#SSslash [:TURN_ON_WRITING_LAYER :slash]]
          [:#SSsemicolon [:TURN_ON_WRITING_LAYER :semicolon]]
          [:##return_or_enter [:TURN_ON_WRITING_LAYER :##return_or_enter]]
]}

{:des "dash case"
 :rules [ :dash-case
          [:spacebar [:delete_or_backspace :spacebar ["dash-case" 0] ["dash-case-space" 0]] :dash-case-space]
          [:spacebar [["dash-case-space" 1] :hyphen]]

          [:q [["dash-case-space" 0] :q]]
          [:w [["dash-case-space" 0] :w]]
          [:f [["dash-case-space" 0] :f]]
          [:p [["dash-case-space" 0] :p]]
          [:b [["dash-case-space" 0] :b]]
          [:a [["dash-case-space" 0] :a]]
          [:r [["dash-case-space" 0] :r]]
          [:s [["dash-case-space" 0] :s]]
          [:t [["dash-case-space" 0] :t]]
          [:g [["dash-case-space" 0] :g]]
          [:z [["dash-case-space" 0] :z]]
          [:x [["dash-case-space" 0] :x]]
          [:c [["dash-case-space" 0] :c]]
          [:d [["dash-case-space" 0] :d]]
          [:v [["dash-case-space" 0] :v]]
          [:j [["dash-case-space" 0] :j]]
          [:l [["dash-case-space" 0] :l]]
          [:u [["dash-case-space" 0] :u]]
          [:y [["dash-case-space" 0] :y]]
          [:m [["dash-case-space" 0] :m]]
          [:n [["dash-case-space" 0] :n]]
          [:e [["dash-case-space" 0] :e]]
          [:i [["dash-case-space" 0] :i]]
          [:o [["dash-case-space" 0] :o]]
          [:k [["dash-case-space" 0] :k]]
          [:h [["dash-case-space" 0] :h]]
          [:#SScomma [:TURN_ON_WRITING_LAYER :comma]]
          [:#SSperiod [:TURN_ON_WRITING_LAYER :period]]
          [:#SSslash [:TURN_ON_WRITING_LAYER :slash]]
          [:#SSsemicolon [:TURN_ON_WRITING_LAYER :semicolon]]
          [:##return_or_enter [:TURN_ON_WRITING_LAYER :##return_or_enter]]
]}

{:des "macro case"
 :rules [ :macro-case
          [:spacebar [:delete_or_backspace :spacebar ["macro-case" 0] ["macro-case-space" 0]] :macro-case-space]
          [:spacebar [["macro-case-space" 1] :underscore]]

          [:q [["macro-case-space" 0] :!Sq]]
          [:w [["macro-case-space" 0] :!Sw]]
          [:f [["macro-case-space" 0] :!Sf]]
          [:p [["macro-case-space" 0] :!Sp]]
          [:b [["macro-case-space" 0] :!Sb]]
          [:a [["macro-case-space" 0] :!Sa]]
          [:r [["macro-case-space" 0] :!Sr]]
          [:s [["macro-case-space" 0] :!Ss]]
          [:t [["macro-case-space" 0] :!St]]
          [:g [["macro-case-space" 0] :!Sg]]
          [:z [["macro-case-space" 0] :!Sz]]
          [:x [["macro-case-space" 0] :!Sx]]
          [:c [["macro-case-space" 0] :!Sc]]
          [:d [["macro-case-space" 0] :!Sd]]
          [:v [["macro-case-space" 0] :!Sv]]
          [:j [["macro-case-space" 0] :!Sj]]
          [:l [["macro-case-space" 0] :!Sl]]
          [:u [["macro-case-space" 0] :!Su]]
          [:y [["macro-case-space" 0] :!Sy]]
          [:m [["macro-case-space" 0] :!Sm]]
          [:n [["macro-case-space" 0] :!Sn]]
          [:e [["macro-case-space" 0] :!Se]]
          [:i [["macro-case-space" 0] :!Si]]
          [:o [["macro-case-space" 0] :!So]]
          [:k [["macro-case-space" 0] :!Sk]]
          [:h [["macro-case-space" 0] :!Sh]]
          [:#SScomma [:TURN_ON_WRITING_LAYER :comma]]
          [:#SSperiod [:TURN_ON_WRITING_LAYER :period]]
          [:#SSslash [:TURN_ON_WRITING_LAYER :slash]]
          [:#SSsemicolon [:TURN_ON_WRITING_LAYER :semicolon]]
          [:##return_or_enter [:TURN_ON_WRITING_LAYER :##return_or_enter]]
]}

{:des "camel case"
 :rules [ :camel-case
          [:spacebar [["camel-case" 0] ["camel-case-space" 0] :spacebar] :camel-case-space]
          [:spacebar ["camel-case-space" 1]]

          [:q [["camel-case-space" 0] :!Sq] :camel-case-space]
          [:w [["camel-case-space" 0] :!Sw] :camel-case-space]
          [:f [["camel-case-space" 0] :!Sf] :camel-case-space]
          [:p [["camel-case-space" 0] :!Sp] :camel-case-space]
          [:b [["camel-case-space" 0] :!Sb] :camel-case-space]
          [:a [["camel-case-space" 0] :!Sa] :camel-case-space]
          [:r [["camel-case-space" 0] :!Sr] :camel-case-space]
          [:s [["camel-case-space" 0] :!Ss] :camel-case-space]
          [:t [["camel-case-space" 0] :!St] :camel-case-space]
          [:g [["camel-case-space" 0] :!Sg] :camel-case-space]
          [:z [["camel-case-space" 0] :!Sz] :camel-case-space]
          [:x [["camel-case-space" 0] :!Sx] :camel-case-space]
          [:c [["camel-case-space" 0] :!Sc] :camel-case-space]
          [:d [["camel-case-space" 0] :!Sd] :camel-case-space]
          [:v [["camel-case-space" 0] :!Sv] :camel-case-space]
          [:j [["camel-case-space" 0] :!Sj] :camel-case-space]
          [:l [["camel-case-space" 0] :!Sl] :camel-case-space]
          [:u [["camel-case-space" 0] :!Su] :camel-case-space]
          [:y [["camel-case-space" 0] :!Sy] :camel-case-space]
          [:m [["camel-case-space" 0] :!Sm] :camel-case-space]
          [:n [["camel-case-space" 0] :!Sn] :camel-case-space]
          [:e [["camel-case-space" 0] :!Se] :camel-case-space]
          [:i [["camel-case-space" 0] :!Si] :camel-case-space]
          [:o [["camel-case-space" 0] :!So] :camel-case-space]
          [:k [["camel-case-space" 0] :!Sk] :camel-case-space]
          [:h [["camel-case-space" 0] :!Sh] :camel-case-space]
          [:#SScomma [:TURN_ON_WRITING_LAYER :comma]]
          [:#SSperiod [:TURN_ON_WRITING_LAYER :period]]
          [:#SSslash [:TURN_ON_WRITING_LAYER :slash]]
          [:#SSsemicolon [:TURN_ON_WRITING_LAYER :semicolon]]
          [:##return_or_enter [:TURN_ON_WRITING_LAYER :##return_or_enter]]
]}
