{:des "disable buttons"
 :rules [
          [:##close_bracket []]
          [:##backslash []]
          [:##hyphen []]
          [:##equal_sign []]
          [:!SSgrave_accent_and_tilde []]
          [:!SS1 []]
          [:!SS2 []]
          [:!SS3 []]
          [:!SS4 []]
          [:!SS5 []]
          [:!SS6 []]
          [:!SS7 []]
          [:!SS8 []]
          [:!SS9 []]
          [:!SS0 []]
;          [:!SSsemicolon []]
;          [:!SScomma []]
;          [:!SSperiod [] :!navigation-layer]
;          [:!SSslash []]
          ;             [:##return_or_enter []]
          ;             [:##delete_or_backspace []]
          ]}