{:des "FUN LAYER"
 :rules [ :fun-layer
          [:q [:open ["Microsoft Outlook"]]]
          [:w [:open ["Microsoft Teams"]]]
          [:f [:open ["IntelliJ"]]]
          [:p [:open ["Firefox"]]]
          [:b [:open ["Sublime Text"]]]
          [:a [:open ["Docker"]]]
          [:r [:open ["Finder"]]]
          [:s [:open ["Spotify"]]]
          [:t [:open ["TickTick"]]]
          [:g [:open ["iTerm2"]]]
          [:z [:open ["Notes"]]]
          [:x [:open ["Telegram"]]]
          [:c [:open ["Safari"]]]
          [:d [:open ["draw.io"]]]
          [:v [:open ["Postman"]]]


          [:j :grave_accent_and_tilde]
          [:l :f7]
          [:u :f8]
          [:y :f9]
          [:semicolon :f11]
          [:m :open_bracket]
          [:n :f4]
          [:e :f5]
          [:i :f6]
          [:o :f10]
          [:k :close_bracket]
          [:h :f1]
          [:comma :f2]
          [:period :f3]
          [:slash :f12]
]}