{
  :profiles {:Default {:default true
                       :alone 250
                       :held 251
                       :sim 50
                       :delay 600 }}
  :applications {
    :firefox ["^org\\.mozilla\\.firefox$"]
    :safari ["^com\\.apple\\.Safari$"]
    :intellij ["^com\\.jetbrains\\.intellij$"]
    :teams ["^com\\.microsoft\\.teams$"]
    :outlook ["^com\\.microsoft\\.Outlook$"]
    :ticktick ["^com\\.TickTick\\.task\\.mac$"]
    :iterm2 ["^com\\.googlecode\\.iterm2$"]
    :excel ["^com\\.microsoft\\.Excel$"]
  }
  :devices {
    :ms-sculpt [{:vendor_id 1118 :product_id 1957}]
    :mac [{:vendor_id 1452 :product_id 832}]
    :kyria [{:vendor_id 36125 :product_id 40349}]
    :staggered-keyboards [
      {:vendor_id 1118 :product_id 1957}
      {:vendor_id 1452 :product_id 832}
    ]
    :columnar-keyboards [
      {:vendor_id 36125 :product_id 40349}
    ]
  }
  :templates {
         :hs "open -g hammerspoon://%s"
         :open "open -a \"%s\""
  }
  :tos {
         :os-dark-mode {:shell "osascript -e 'tell app \"System Events\" to tell appearance preferences to set dark mode to true'" }
         :os-light-mode {:shell "osascript -e 'tell app \"System Events\" to tell appearance preferences to set dark mode to false'" }

         :ticktick-new-task {:key :!!n}
         :ticktick-start-pomodoro {:key :!!h}
         :ticktick-show-pomodoro {:key :!!semicolon}

         :TURN_ON_NAVIGATION_LAYER [
           {:shell "open -g hammerspoon://navigationMode"}
           {:set ["navigation-layer" 1]}
           {:set ["selection-mode" 0]}
           {:set ["single-character-mode" 0]}
           {:set ["raise-layer" 0]}
           {:set ["lower-layer" 0]}
           {:set ["app-layer" 0]}
           {:set ["fun-layer" 0]}
           {:set ["macro-case" 0]}
           {:set ["macro-case-space" 0]}
           {:set ["camel-case" 0]}
           {:set ["camel-case-space" 0]}
           {:set ["snake-case" 0]}
           {:set ["snake-case-space" 0]}
           {:set ["dash-case" 0]}
           {:set ["dash-case-space" 0]}
         ]
         :TURN_ON_WRITING_LAYER [
           {:shell "open -g hammerspoon://writingMode"}
           {:set ["navigation-layer" 0]}
           {:set ["selection-mode" 0]}
           {:set ["single-character-mode" 0]}
           {:set ["raise-layer" 0]}
           {:set ["lower-layer" 0]}
           {:set ["app-layer" 0]}
           {:set ["fun-layer" 0]}
           {:set ["macro-case" 0]}
           {:set ["macro-case-space" 0]}
           {:set ["camel-case" 0]}
           {:set ["camel-case-space" 0]}
           {:set ["snake-case" 0]}
           {:set ["snake-case-space" 0]}
           {:set ["dash-case" 0]}
           {:set ["dash-case-space" 0]}
         ]
         :TURN_ON_ONS_NAVIGATION_LAYER [
             {:shell "open -g hammerspoon://navigationMode"}
             {:set ["ons-navigation-layer" 1]}
             {:set ["selection-mode" 0]}
             {:set ["single-character-mode" 0]}
             {:set ["raise-layer" 0]}
             {:set ["lower-layer" 0]}
             {:set ["app-layer" 0]}
         ]
         :TURN_ON_SELECTION_MODE [
           {:set ["selection-mode" 1]}
         ]
         :TURN_OFF_SELECTION_MODE [
           {:set ["selection-mode" 0]}
         ]
         :TURN_ON_SINGLE_CHARACTER_MODE [
           {:set ["single-character-mode" 1]}
         ]
         :TURN_ON_LOWER_LAYER [
           {:set ["lower-layer" 1]}
         ]
         :TURN_OFF_LOWER_LAYER [
           {:set ["lower-layer" 0]}
         ]
         :TURN_ON_APP_LAYER [
           {:set ["app-layer" 1]}
         ]
         :TURN_OFF_APP_LAYER [
           {:set ["app-layer" 0]}
         ]
         :TOGGLE_LAYER_BAR  [
           {:shell "open -g hammerspoon://toggleLayerBar"}
         ]
         :TURN_ON_NUM_APP_LAYER [
           {:set ["num-app-layer" 1]}
         ]
         :TURN_OFF_NUM_APP_LAYER [
           {:set ["num-app-layer" 0]}
         ]
         :TURN_ON_NUM_SYM_LAYER [
           {:set ["num-sym-layer" 1]}
         ]
         :TURN_OFF_NUM_SYM_LAYER [
           {:set ["num-sym-layer" 0]}
         ]
         :TURN_ON_FUN_LAYER [
           {:set ["fun-layer" 1]}
         ]
         :TURN_OFF_FUN_LAYER [
           {:set ["fun-layer" 0]}
         ]
         :TURN_ON_ADJUSTED_TYPING_LAYER [
           {:set ["adjusted-typing-layer" 1]}
         ]
         :TURN_OFF_ADJUSTED_TYPING_LAYER [
           {:set ["adjusted-typing-layer" 0]}
         ]
         :TURN_ON_MACRO_CASE [
           {:set ["macro-case" 1]}
         ]
         :TURN_ON_CAMEL_CASE [
           {:set ["camel-case" 1]}
         ]
         :TURN_ON_SNAKE_CASE [
           {:set ["snake-case" 1]}
         ]
         :TURN_ON_DASH_CASE [
           {:set ["dash-case" 1]}
         ]
         ; symbols
         :exclaimation-mark {:key :1 :modi :shift}
         :at {:key :2 :modi :shift}
         :hash {:key :3 :modi :shift}
         :dollar {:key :4 :modi :shift}
         :percent {:key :5 :modi :shift}
         :caret {:key :6 :modi :shift}
         :ampersand {:key :7 :modi :shift}
         :asterisk {:key :8 :modi :shift}

         :hyphen {:key :hyphen}
         :underscore {:key :hyphen :modi :shift}
         :equal {:key :equal_sign}
         :plus {:key :equal_sign :modi :shift}
         :semicolon {:key :semicolon}
         :colon {:key :semicolon :modi :shift}

         :open_parenthesis {:key :9 :modi :shift}
         :close_parenthesis {:key :0 :modi :shift}
         :open_bracket {:key :open_bracket}
         :close_bracket {:key :close_bracket}
         :open_braces {:key :open_bracket :modi :shift}
         :close_braces {:key :close_bracket :modi :shift}

         :less_than {:key :comma :modi :shift}
         :greater_than {:key :period :modi :shift}
         :backquote {:key :grave_accent_and_tilde}
         :tilde {:key :grave_accent_and_tilde :modi :shift}
         :dquote {:key :quote :modi :shift}
         :pipe {:key :backslash :modi :shift}
         :question {:key :slash :modi :shift}

         ; polish diactrics
         :diactric-e {:key :!Oe}
         :diactric-a {:key :!Oa}
         :diactric-s {:key :!Os}
         :diactric-z {:key :!Oz}
         :diactric-x {:key :!Ox :repeat false}
         :diactric-c {:key :!Oc}
         :diactric-o {:key :!Oo}
         :diactric-l {:key :!Ol}
         :diactric-n {:key :!On}

         ; system-wide shortcuts
         :window_snapshot {:key :!CS4}
         :selection_snapshot {:key :!CS5}
         :system-new_tab {:key :!Ct}
         :system-close_tab {:key :!Cw}
         :system-force_quit_apps {:key :!COescape}
         :previous-tab {:key :!CSopen_bracket}
         :next-tab {:key :!CSclose_bracket}
         :focus-url {:key :!Cl}
         :unfocus-url {:key :f6 :repeat false}
         :copy {:key :!Cc}

         :search-firefox-bookmarks {:key :!!b}
         :search-projects {:key :!!p}

         :paste-enter [
           {:key :!Cv :repeat false}
           {:key :return_or_enter :repeat false}
         ]

         :search-selection [{:key :!!s}]
         :search-clipboard [{:key :!CTOs}]
  }
  :main [

     {:des "sculpt override"
      :rules [ :ms-sculpt
               [:##quote []]
               [:##right_command :TURN_ON_APP_LAYER nil {:alone :return_or_enter :afterup :TURN_OFF_APP_LAYER}]
               [[:right_control :spacebar] :left_option :!left-command-down {:alone [:delete_or_backspace :TURN_OFF_SELECTION_MODE]}]
               [[:left_command :right_control :spacebar] :left_option :left-command-down {:alone [:a :TURN_OFF_SELECTION_MODE] :params {:sim 3000}}]
     ]}

     {:des "staggered keyboards"
      :rules [ :staggered-keyboards
               ; left control fun layer
               [:left_control :TURN_ON_FUN_LAYER]
               ; backspace
               [:!T##open_bracket [:delete_forward :TURN_OFF_SELECTION_MODE] nil {:held :delete_forward :params {:held 200}}]
               [:##open_bracket [:delete_or_backspace :TURN_OFF_SELECTION_MODE] nil {:held :delete_or_backspace :params {:held 200}}]

               ; caps_lock to control, escape if alone
               [:##caps_lock :##left_control nil {:alone [:escape :TURN_ON_NAVIGATION_LAYER]}]

               ; left_option to lower layer
               [:##left_option :TURN_ON_LOWER_LAYER nil {:alone :return_or_enter :afterup :TURN_OFF_LOWER_LAYER}]
               ; ctrl+backspace=delete
               [:!Tdelete_or_backspace :delete_forward]
               ; quote to enter
               [:##quote :return_or_enter]
               ; commands layers
               [:left_command :left_command nil {:alone :TURN_ON_NAVIGATION_LAYER}]
               [:right_command :left_option :!ms-sculpt {:alone :TURN_ON_APP_LAYER}]
               [:##left_command :left_command]
               [:##right_command :left_option]

     ]}

     {:des "columnar keyboards"
      :rules [ :columnar-keyboards
               ; wx to fun layer
               [ :f23 :TURN_ON_FUN_LAYER]
               ; qz to lower layer
               [ :f24 :TURN_ON_LOWER_LAYER]
               ; backspace disables selection
               [:##delete_or_backspace [:TURN_OFF_SELECTION_MODE :delete_or_backspace] :!num-app-layer {:held :delete_or_backspace :params {:held 200}}]
               ; esc enables nav layer
               [:##escape [:##escape :TURN_ON_NAVIGATION_LAYER]]
               ; right opt to assisted typing layer
               [:right_option :TURN_ON_ADJUSTED_TYPING_LAYER nil {:afterup :TURN_OFF_ADJUSTED_TYPING_LAYER}]
               ; right command to num layer
               [:!Oright_command :TURN_ON_NUM_SYM_LAYER nil {:afterup :TURN_OFF_NUM_SYM_LAYER}]
               [:#S#T#Cright_command :TURN_ON_NUM_APP_LAYER :!lower-layer {:afterup :TURN_OFF_NUM_APP_LAYER}]

               ; commands layers
               [:left_command :left_command nil {:alone :TURN_ON_NAVIGATION_LAYER}]
               [:##left_command :left_command]
     ]}

     {:des "find overrides" :rules [
        [:!C#Sf :!Cf nil {:alone [:TURN_ON_WRITING_LAYER :!Cf] :held :paste-enter :repeat false :halt true}]
        [:!COf [:!Cc :!Cc :!Cf :!Cf :paste-enter]]
     ]}

;#######################################################################################################################
;#############################################      INCLUDE       ######################################################
;#######################################################################################################################

  ;include:disabled-buttons.edn
  ;include:osl-nav-layer.edn
  ;include:osl-character-layer.edn
  ;include:raise-layer.edn
  ;include:lower-layer.edn
  ;include:app-layer.edn
  ;include:fun-layer.edn
  ;include:num-app-layer.edn
  ;include:adjusted-typing-layer.edn

;#######################################################################################################################
;#######################################################################################################################
;#######################################################################################################################
     {:des "arrow layer"
      :rules [  [:condi :navigation-layer :!selection-mode :!app-layer]

                [:!SSn [:TURN_ON_SELECTION_MODE :!Sleft_arrow]]
                [:!SSe [:TURN_ON_SELECTION_MODE :!Sdown_arrow]]
                [:!SSi [:TURN_ON_SELECTION_MODE :!Sright_arrow]]
                [:!SSu [:TURN_ON_SELECTION_MODE :!Sup_arrow]]
                [:!SSl [:TURN_ON_SELECTION_MODE :!S!Oleft_arrow]]
                [:!SSy [:TURN_ON_SELECTION_MODE :!S!Oright_arrow]]
                [:!SSj [:TURN_ON_SELECTION_MODE :!Spage_up]]
                [:!SSm [:TURN_ON_SELECTION_MODE :!Spage_down]]


                [:##n :left_arrow]
                [:##e :down_arrow]
                [:##i :right_arrow]
                [:##u :up_arrow]
                [:##l :!Oleft_arrow]
                [:##y :!Oright_arrow]
                [:#SSj :page_up]
                [:#SSm :page_down]

                [:condi :navigation-layer :selection-mode]
                [:##n :!Sleft_arrow]
                [:##e :!Sdown_arrow]
                [:##i :!Sright_arrow]
                [:##u :!Sup_arrow]
                [:##l :!SOleft_arrow]
                [:##y :!SOright_arrow]
                [:#SSj :!Spage_up]
                [:#SSm :!Spage_down]
                ]}

    {:des "navigation layer"
     :rules [
;              [:condi :navigation-layer :!selection-mode]
;              [:##n :left_arrow]
;              [:##e :down_arrow]
;              [:##i :right_arrow]
;              [:##u :up_arrow]
;              [:##l :!Oleft_arrow]
;              [:##y :!Oright_arrow]
;              [:#SSj :page_up]
;              [:#SSm :page_down]
;
;              [:condi :navigation-layer :selection-mode]
;              [:##n :!Sleft_arrow]
;              [:##e :!Sdown_arrow]
;              [:##i :!Sright_arrow]
;              [:##u :!Sup_arrow]
;              [:##l :!SOleft_arrow]
;              [:##y :!SOright_arrow]
;              [:#SSj :!Spage_up]
;              [:#SSm :!Spage_down]

              :navigation-layer
              [:spacebar [:TURN_ON_WRITING_LAYER :!!grave_accent_and_tilde]]

              ; number row
              [:grave_accent_and_tilde []]
              [:1 []]
              [:2 []]
              [:3 []]
              [:4 []]
              [:5 []]
              [:6 []]
              [:7 []]
              [:8 []]
              [:9 []]
              [:0 []]

              ; left hand
              [:#SSq :!TOC0]
              [:#SSw :!TOC1]
              [:#SSf :!TOC2]
              [:#SSp :!TOC3]
              [:#SSb :!TOC4]

              [:#SSa :!TOC9]

              [:#SSr :!T1 :intellij]
              [:#SSs [:!Ce :TURN_ON_NAVIGATION_LAYER] :intellij]
              [:#SSr nil nil {:alone :previous-tab :held {:key :!Copen_bracket :repeat false} :repeat false :halt true}]
              [:#SSs nil nil {:alone :next-tab :held {:key :!Cclose_bracket :repeat false} :repeat false :halt true}]

              [:#SSt {:pkey :button1}]
              [:#SSg :!Tq]

              [:#SSz :!Cz]
              [:#SSx [:TURN_OFF_SELECTION_MODE :!Cx]]
              [:#SSc [:TURN_OFF_SELECTION_MODE :!Cc]]
              [:#SSd nil nil {:alone :search-selection :held :search-clipboard :repeat false :halt true}]
              [:#SSv [:return_or_enter ["double-v" 0] [:noti :double-v]] ["double-v" 1]]
              [:#SSv [[:noti :double-v "Press v again to send enter"] ["double-v" 1]] nil
               { :alone [:!Cv :TURN_OFF_SELECTION_MODE]
                 :held {:key :!COc :repeat false}
                 :repeat false
                 :halt true
                 :delayed {:invoked  [["double-v" 0] [:noti :double-v]]
                           :canceled [["double-v" 0] [:noti :double-v]]}
                 :params {:delay 2000}
               }]

              ; right hand
              [:#SSsemicolon []]
              [:#SSo :TURN_ON_SINGLE_CHARACTER_MODE]
              [:#SSk [:ticktick-new-task :TURN_ON_WRITING_LAYER]]
              [:#SSh :!Oup_arrow]
              [:#SScomma [] nil { :alone :focus-url :held :unfocus-url :repeat false :halt true}]
              [:#SSperiod :!Odown_arrow]
              [:#SSslash nil nil {:alone [:search-firefox-bookmarks :TURN_ON_WRITING_LAYER] :held [:search-projects :TURN_ON_WRITING_LAYER] :repeat false :halt true}]
     ]}
  ]
}

;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
;; ! to [:left_command :left_control :left_option :left_shift]
;; !A to [:command :control :option :shift]
;; C to :left_command
;; Q to :right_command
;; CC to :command
;; T to :left_control
;; W to :right_control
;; TT to :control
;; O to :left_option
;; E to :right_option
;; OO to :option
;; S to :left_shift
;; R to :right_shift
;; SS to :shift