{:des "LOWER LAYER"
 :rules [ :lower-layer
          [:delete_or_backspace :!OOdelete_or_backspace]
          ; number row
          [:grave_accent_and_tilde []]
          [:1 [:yabai-move-to-space-1 :yabai-switch-to-space-1]]
          [:2 [:yabai-move-to-space-2 :yabai-switch-to-space-2]]
          [:3 [:yabai-move-to-space-3 :yabai-switch-to-space-3]]
          [:4 [:yabai-move-to-space-4 :yabai-switch-to-space-4]]
          [:5 [:yabai-move-to-space-5 :yabai-switch-to-space-5]]
          [:6 [:yabai-move-to-space-6 :yabai-switch-to-space-6]]
          [:7 [:yabai-move-to-space-7 :yabai-switch-to-space-7]]
          [:8 [:yabai-move-to-space-8 :yabai-switch-to-space-8]]
          [:9 [:yabai-move-to-space-9 :yabai-switch-to-space-9]]
          [:0 [:yabai-move-to-space-0 :yabai-switch-to-space-0]]

          [:#SSq :!CChyphen]
          [:#SSw :!CCequal_sign]
          [:f :!CC0]
          [:p :!CTS4]
          [:b :!CS5]

          [:a :ticktick-show-pomodoro]
          [:r :ticktick-start-pomodoro]
          [:s []]
          [:t []]
          [:g []]

          [:z :volume_down]
          [:x :volume_up]
          [:c :vk_consumer_previous]
          [:d :vk_consumer_next]
          [:v :vk_consumer_play]
          ; right hand
          [:j []]
          [:l :yabai-stack-right]
          [:u :yabai-focus-up]
          [:y :yabai-rotate]
          [:semicolon []]

          [:m :yabai-toggle-fullscreen]
          [:n :yabai-focus-left]
          [:e :yabai-focus-down]
          [:i :yabai-focus-right]
          [:o []]

          [:k []]
          [:h []]
          [:comma :os-light-mode]
          [:period :os-dark-mode]
          [:slash :TOGGLE_LAYER_BAR]

          [:!TTu :yabai-swap-up]
          [:!TTn :yabai-swap-left]
          [:!TTe :yabai-swap-down]
          [:!TTi :yabai-swap-right]
          [:!SSu :yabai-resize-up]
          [:!SSn :yabai-resize-left]
          [:!SSe :yabai-resize-down]
          [:!SSi :yabai-resize-right]
          ]}