{:des "LOWER LAYER"
 :rules [ :lower-layer
          [:#S#T#Cright_command [:TURN_OFF_LOWER_LAYER :TURN_ON_FUN_LAYER] nil {:afterup [:TURN_OFF_FUN_LAYER :TURN_ON_LOWER_LAYER]}]
          [:#S#T#Cright_command [:TURN_OFF_LOWER_LAYER :TURN_ON_FUN_LAYER] nil {:afterup [:TURN_OFF_FUN_LAYER :TURN_ON_LOWER_LAYER]}]
          [:delete_or_backspace :!OOdelete_or_backspace]
          ; number row
          [:grave_accent_and_tilde []]
          [:1 []]
          [:2 []]
          [:3 []]
          [:4 []]
          [:5 []]
          [:6 []]
          [:7 []]
          [:8 []]
          [:9 []]
          [:0 []]

          [:#SSq :!CChyphen]
          [:#SSw :!CCequal_sign]
          [[:q :w] :!CC0 nil {:params {:sim 50}}]
          [:f []]
          [:p []]
          [:b [] nil {:alone [:TURN_ON_NAVIGATION_LAYER :!CTq] :held [:TURN_ON_NAVIGATION_LAYER {:shell "pmset sleepnow" }]}]

          [:a []]
          [:r []]
          [:s []]
          [:t nil nil {:alone :!CTS4 :held {:key :!CS5 :repeat false} :afterup :TURN_ON_NAVIGATION_LAYER :repeat false :halt true :params{:alone 299 :held 300}}]
          [:g :ticktick-show-pomodoro]

          [:z :volume_down]
          [:x :volume_up]
          [[:z :x] :mute nil {:params {:sim 50}}]
          [:c :vk_consumer_next]
          [:d :vk_consumer_play]
          [[:c :d] :vk_consumer_previous]
          [:v :ticktick-start-pomodoro]
          ; right hand
          [:j []]
          [:l []]
          [:u []]
          [:y []]
          [:semicolon []]

          [:m []]
          [:n []]
          [:e []]
          [:i []]
          [:o []]

          [:k []]
          [:h []]
          [:comma :os-light-mode]
          [:period :os-dark-mode]
          [:slash :TOGGLE_LAYER_BAR]
]}