{:des "NUM/APP LAYER"
 :rules [ :num-app-layer
          [:##delete_or_backspace [:TURN_OFF_SELECTION_MODE :!Odelete_or_backspace]]
          [:##return_or_enter :!Treturn_or_enter nil]

          ; right hand - NUM LAYER
          [:##j :pipe nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##l :7 nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##u :8 nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##y :9 nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:semicolon :exclaimation-mark nil {:afterup :TURN_ON_WRITING_LAYER}]

          [:##m :plus nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##n :4 nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##e :5 nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##i :6 nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##o :0 nil {:afterup :TURN_ON_WRITING_LAYER}]

          [:##k :ampersand nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##h :1 nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##comma :2 nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##period :3 nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##slash :tilde nil {:afterup :TURN_ON_WRITING_LAYER}]

          ; left hand - APP LAYER
          [:condi :num-app-layer :excel]
          [:s :!Tu]

          [:condi :num-app-layer :firefox]
;          [:f [:!Cc :!Cc :!Cf :!Cf :paste-enter]]
          [:a [] nil { :alone :focus-url :held :unfocus-url :repeat false :halt true}]
          [:r :!CSt]
          [:s :slash]
          [:t [:!Ct :TURN_ON_WRITING_LAYER]]
;          [:p [:focus-url :focus-url :!Sreturn_or_enter]]

          ;
          [:condi :num-app-layer :intellij]
;          [:q :!Oq]
          ;                    [:!Of :!COl]
;          [:w :previous-tab]
;          [:f :next-tab]
;          [:p :!T2]
;          [:b [:TURN_ON_NAVIGATION_LAYER :right_option :right_option :right_option]]
          ;
          [:a [:!Sf6 :TURN_ON_WRITING_LAYER]]
          [:s :!Of7]

          [:!Tt :!Cn]

          [:t []]
          [:g [:!On :TURN_ON_NAVIGATION_LAYER]]

          [:z :!Oq]
          [:x :previous-tab]
          [:c :next-tab]
          [:d :!T2]
          [:v [:TURN_ON_NAVIGATION_LAYER :right_option :right_option :right_option]]

          ;
          [:condi :num-app-layer :teams]
          [:a :!CSm]



          [:condi :num-app-layer]
          [:##q nil nil {:alone :!C4 :held {:key :!C8 :repeat false} :repeat false :halt true}]
          [:##w nil nil {:alone :!C3 :held {:key :!C7 :repeat false} :repeat false :halt true}]
          [:##f nil nil {:alone :!C2 :held {:key :!C6 :repeat false} :repeat false :halt true}]
          [:##p nil nil {:alone :!C1 :held {:key :!C5 :repeat false} :repeat false :halt true}]
          [:##b nil nil {:alone :!C9 :held {:key :!C0 :repeat false} :repeat false :halt true}]

          [:##a []]
          [:##r []]
          [:##s []]
          [:##t []]
          [:##g []]

          [:##z []]
          [:##x []]
          [:##c []]
          [:##d []]
          [:##v []]
]}
