{
  :des "Single character mode"
  :rules [ :single-character-mode
           [:spacebar :spacebar nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:grave_accent_and_tilde :grave_accent_and_tilde nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:1 :1 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:2 :2 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:3 :3 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:4 :4 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:5 :5 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:6 :6 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:7 :7 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:8 :8 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:9 :9 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:0 :0 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:q :q nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:w :w nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:f :f nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:p :p nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:b :b nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:a :a nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:r :r nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:s :s nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:t :t nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:g :g nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:z :z nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:x :x nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:c :c nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:d :d nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:v :v nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:j :j nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:l :l nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:u :u nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:y :y nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:semicolon :semicolon nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:m :m nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:n :n nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:e :e nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:i :i nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:o :o nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:k :k nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:h :h nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:comma :comma nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:period :period nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:slash :slash nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSq :!SSq nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSw :!SSw nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSf :!SSf nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSp :!SSp nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSb :!SSb nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSa :!SSa nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSr :!SSr nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSs :!SSs nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSt :!SSt nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSg :!SSg nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSz :!SSz nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSx :!SSx nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSc :!SSc nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSd :!SSd nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSv :!SSv nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSj :!SSj nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSl :!SSl nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSu :!SSu nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSy :!SSy nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSm :!SSm nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSn :!SSn nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSe :!SSe nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSi :!SSi nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSo :!SSo nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSk :!SSk nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!SSh :!SSh nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!OOgrave_accent_and_tilde :tilde nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO1 :exclaimation-mark nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO2 :at nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO3 :hash nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO4 :dollar nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO5 :percent nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOq :pipe nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOw :open_braces  nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOf :close_braces nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOp :open_bracket nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOb :close_bracket nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSa :diactric-a nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOr :hyphen nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSs :diactric-s nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOt :equal nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOg :colon nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSz :diactric-z nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSx :diactric-x nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSc :diactric-c nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOd :underscore nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOv :ampersand nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOj :caret nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSl :diactric-l nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOu :open_parenthesis nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOy :close_parenthesis nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOsemicolon :backslash nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOm :asterisk nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSn :diactric-n nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSe :diactric-e nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOi :quote nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSo :diactric-o nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOk :plus nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOh :dquote nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOcomma :less_than nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOperiod :greater_than nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOslash :question nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           ]}
