{:des "ons-navigation-layer"
 :rules [ :ons-navigation-layer
          [:##n :left_arrow nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##e :down_arrow nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##i :right_arrow nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##u :up_arrow nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##l :!Oleft_arrow nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:##y :!Oright_arrow nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SSj :page_up nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SSm :page_down nil {:afterup :TURN_ON_WRITING_LAYER}]

          [:spacebar [:TURN_ON_WRITING_LAYER :!!grave_accent_and_tilde] nil {:afterup :TURN_ON_WRITING_LAYER}]

          ; number row
;          [:grave_accent_and_tilde [:yabai-next-stack] nil {:afterup :TURN_ON_WRITING_LAYER}]

;          [:1 :yabai-switch-to-space-1 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:2 :yabai-switch-to-space-2 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:3 :yabai-switch-to-space-3 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:4 :yabai-switch-to-space-4 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:5 :yabai-switch-to-space-5 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:6 :yabai-switch-to-space-6 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:7 :yabai-switch-to-space-7 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:8 :yabai-switch-to-space-8 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:9 :yabai-switch-to-space-9 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:0 :yabai-switch-to-space-0 nil {:afterup :TURN_ON_WRITING_LAYER}]
          ; left hand
          [:#SSq [] nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:#SSw :yabai-switch-to-space-3 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:#SSf :yabai-switch-to-space-2 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:#SSp :yabai-switch-to-space-1 nil {:afterup :TURN_ON_WRITING_LAYER}]
;          [:#SSb :yabai-switch-to-space-4 nil {:afterup :TURN_ON_WRITING_LAYER}]
;
;          [:#SSa [:yabai-next-stack] nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SSr nil nil {:alone :previous-tab :held {:key :!Copen_bracket :repeat false} :repeat false :halt true :afterup :TURN_ON_WRITING_LAYER :params{:alone 299 :held 300}}]
          [:#SSs nil nil {:alone :next-tab :held {:key :!Cclose_bracket :repeat false} :repeat false :halt true :afterup :TURN_ON_WRITING_LAYER :params{:alone 299 :held 300}}]
          [:#SSt {:pkey :button1} nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SSg :!Tf nil {:afterup :TURN_ON_WRITING_LAYER}]

          [:#SSz :!Cz nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SSx [:!Cx :TURN_OFF_SELECTION_MODE] nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SSc :!Cc nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SSd nil nil {:alone :search-selection :held :search-clipboard :repeat false :halt true :afterup :TURN_ON_WRITING_LAYER :params{:alone 299 :held 300}}]
          [:#SSv [:return_or_enter ["double-v" 0] [:noti :double-v]] ["double-v" 1] {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SSv [[:noti :double-v "Press v again to send enter"] ["double-v" 1]] nil
           { :alone [:!Cv :TURN_OFF_SELECTION_MODE]
             :held {:key :!COc :repeat false}
             :repeat false
             :halt true
             :delayed {:invoked  [["double-v" 0] [:noti :double-v] :TURN_ON_WRITING_LAYER]
                       :canceled [["double-v" 0] [:noti :double-v]]}
             :params {:alone 299 :held 300 :delay 2000}
             }]

          ; right hand
          [:#SSsemicolon [] nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SSo [] nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SSk [:ticktick-new-task :TURN_ON_WRITING_LAYER]]
          [:#SSh :!Oup_arrow nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SScomma [] nil { :alone :focus-url :held :unfocus-url :repeat false :halt true :afterup :TURN_ON_WRITING_LAYER :params {:alone 299 :held 30}}]
          [:#SSperiod :!Odown_arrow nil {:afterup :TURN_ON_WRITING_LAYER}]
          [:#SSslash nil nil {:alone [:search-firefox-bookmarks :TURN_ON_WRITING_LAYER] :held [:search-projects :TURN_ON_WRITING_LAYER] :repeat false :halt true :params{:alone 299 :held 300}}]
          ]}
