{
  :des "Single character mode"
  :rules [ :single-character-mode
           [:spacebar :spacebar nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:grave_accent_and_tilde :grave_accent_and_tilde nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:1 :1 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:2 :2 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:3 :3 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:4 :4 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:5 :5 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:6 :6 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:7 :7 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:8 :8 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:9 :9 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:0 :0 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:semicolon :semicolon nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:comma :comma nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:period :period nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:slash :slash nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSq :q nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSw :w nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSf :f nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSp :p nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSb :b nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSa :a nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSr :r nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSs :s nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSt :t nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSg :g nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSz :z nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSx :x nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSc :c nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSd :d nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSv :v nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSj :j nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSl :l nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSu :u nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSy :y nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSm :m nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSn :n nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSe :e nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSi :i nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSo :o nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSk :k nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSh :h nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!OOgrave_accent_and_tilde :tilde nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO1 :exclaimation-mark nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO2 :at nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO3 :hash nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO4 :dollar nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO5 :percent nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOq :pipe nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOw :open_braces  nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOf :close_braces nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOp :open_bracket nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOb :close_bracket nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSa :diactric-a nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOr :hyphen nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSs :diactric-s nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOt :equal nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOg :colon nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSz :diactric-z nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSx :diactric-x nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSc :diactric-c nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOd :underscore nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOv :ampersand nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOj :caret nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSl :diactric-l nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOu :open_parenthesis nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOy :close_parenthesis nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOsemicolon :backslash nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOm :asterisk nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSn :diactric-n nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSe :diactric-e nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOi :quote nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSo :diactric-o nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOk :plus nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOh :dquote nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOcomma :less_than nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOperiod :greater_than nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOslash :question nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           ]}
