{
  :des "Single character mode"
  :rules [ :single-character-mode
           [:spacebar :spacebar nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:grave_accent_and_tilde :grave_accent_and_tilde nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:1 :1 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:2 :2 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:3 :3 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:4 :4 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:5 :5 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:6 :6 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:7 :7 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:8 :8 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:9 :9 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:0 :0 nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:semicolon :semicolon nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:comma :comma nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:period :period nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:slash :slash nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSq :q nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSw :w nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSf :f nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSp :p nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSb :b nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSa :a nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSr :r nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSs :s nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSt :t nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSg :g nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSz :z nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSx :x nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSc :c nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSd :d nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSv :v nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSj :j nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSl :l nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSu :u nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSy :y nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSm :m nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSn :n nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSe :e nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSi :i nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSo :o nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSk :k nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:#SSh :h nil {:afterup [:TURN_ON_NAVIGATION_LAYER]}]
           [:!OOgrave_accent_and_tilde :tilde nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO1 :exclaimation-mark nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO2 :at nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO3 :hash nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO4 :dollar nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO5 :percent nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOq :pipe nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOw :open_braces  nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOf :close_braces nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOp :open_bracket nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOb :close_bracket nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSa :diactric-a nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOr :hyphen nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSs :diactric-s nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOt :equal nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOg :colon nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSz :diactric-z nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSx :diactric-x nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSc :diactric-c nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOd :underscore nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOv :ampersand nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOj :caret nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSl :diactric-l nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOu :open_parenthesis nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOy :close_parenthesis nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOsemicolon :backslash nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOm :asterisk nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSn :diactric-n nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSe :diactric-e nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOi :quote nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OO#SSo :diactric-o nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOk :plus nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOh :dquote nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOcomma :less_than nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOperiod :greater_than nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
           [:!OOslash :question nil {:afterup :TURN_ON_NAVIGATION_LAYER}]
 ]}

{:des "Single character mode"
 :rules [ :single-character-mode
         [:q [:TURN_OFF_SELECTION_MODE {:key :q :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :q :modi :shift :repeat false}]}]
         [:w [:TURN_OFF_SELECTION_MODE {:key :w :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :w :modi :shift :repeat false}]}]
         [:f [:TURN_OFF_SELECTION_MODE {:key :f :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :f :modi :shift :repeat false}]}]
         [:p [:TURN_OFF_SELECTION_MODE {:key :p :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :p :modi :shift :repeat false}]}]
         [:a [:TURN_OFF_SELECTION_MODE {:key :a :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :a :modi :shift :repeat false}]}]
         [:b [:TURN_OFF_SELECTION_MODE {:key :b :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :b :modi :shift :repeat false}]}]
         [:r [:TURN_OFF_SELECTION_MODE {:key :r :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :r :modi :shift :repeat false}]}]
         [:s [:TURN_OFF_SELECTION_MODE {:key :s :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :s :modi :shift :repeat false}]}]
         [:t [:TURN_OFF_SELECTION_MODE {:key :t :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :t :modi :shift :repeat false}]}]
         [:g [:TURN_OFF_SELECTION_MODE {:key :g :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :g :modi :shift :repeat false}]}]
         [:z [:TURN_OFF_SELECTION_MODE {:key :z :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :z :modi :shift :repeat false}]}]
         [:x [:TURN_OFF_SELECTION_MODE {:key :x :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :x :modi :shift :repeat false}]}]
         [:c [:TURN_OFF_SELECTION_MODE {:key :c :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :c :modi :shift :repeat false}]}]
         [:d [:TURN_OFF_SELECTION_MODE {:key :d :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :d :modi :shift :repeat false}]}]
         [:v [:TURN_OFF_SELECTION_MODE {:key :v :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :v :modi :shift :repeat false}]}]
         [:j [:TURN_OFF_SELECTION_MODE {:key :j :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :j :modi :shift :repeat false}]}]
         [:l [:TURN_OFF_SELECTION_MODE {:key :l :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :l :modi :shift :repeat false}]}]
         [:u [:TURN_OFF_SELECTION_MODE {:key :u :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :u :modi :shift :repeat false}]}]
         [:y [:TURN_OFF_SELECTION_MODE {:key :y :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :y :modi :shift :repeat false}]}]
         [:m [:TURN_OFF_SELECTION_MODE {:key :m :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :m :modi :shift :repeat false}]}]
         [:n [:TURN_OFF_SELECTION_MODE {:key :n :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :n :modi :shift :repeat false}]}]
         [:e [:TURN_OFF_SELECTION_MODE {:key :e :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :e :modi :shift :repeat false}]}]
         [:i [:TURN_OFF_SELECTION_MODE {:key :i :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :i :modi :shift :repeat false}]}]
         [:o [:TURN_OFF_SELECTION_MODE {:key :o :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :o :modi :shift :repeat false}]}]
         [:k [:TURN_OFF_SELECTION_MODE {:key :k :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :k :modi :shift :repeat false}]}]
         [:h [:TURN_OFF_SELECTION_MODE {:key :h :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :h :modi :shift :repeat false}]}]
         [:semicolon [:TURN_OFF_SELECTION_MODE {:key :semicolon :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :semicolon :modi :shift :repeat false}]}]
         [:comma [:TURN_OFF_SELECTION_MODE {:key :comma :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :comma :modi :shift :repeat false}]}]
         [:period [:TURN_OFF_SELECTION_MODE {:key :period :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :period :modi :shift :repeat false}]}]
         [:slash [:TURN_OFF_SELECTION_MODE {:key :slash :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :slash :modi :shift :repeat false}]}]

         [:grave_accent_and_tilde [:TURN_OFF_SELECTION_MODE {:key :grave_accent_and_tilde :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :grave_accent_and_tilde :modi :shift :repeat false}]}]
         [:1 [:TURN_OFF_SELECTION_MODE {:key :1 :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :1 :modi :shift :repeat false}]}]
         [:2 [:TURN_OFF_SELECTION_MODE {:key :2 :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :2 :modi :shift :repeat false}]}]
         [:3 [:TURN_OFF_SELECTION_MODE {:key :3 :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :3 :modi :shift :repeat false}]}]
         [:4 [:TURN_OFF_SELECTION_MODE {:key :4 :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :4 :modi :shift :repeat false}]}]
         [:5 [:TURN_OFF_SELECTION_MODE {:key :5 :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :5 :modi :shift :repeat false}]}]
         [:6 [:TURN_OFF_SELECTION_MODE {:key :6 :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :6 :modi :shift :repeat false}]}]
         [:7 [:TURN_OFF_SELECTION_MODE {:key :7 :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :7 :modi :shift :repeat false}]}]
         [:8 [:TURN_OFF_SELECTION_MODE {:key :8 :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :8 :modi :shift :repeat false}]}]
         [:9 [:TURN_OFF_SELECTION_MODE {:key :9 :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :9 :modi :shift :repeat false}]}]
         [:0 [:TURN_OFF_SELECTION_MODE {:key :0 :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :0 :modi :shift :repeat false}]}]
         [:hyphen [:TURN_OFF_SELECTION_MODE {:key :hyphen :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :hyphen :modi :shift :repeat false}]}]
         [:equal_sign [:TURN_OFF_SELECTION_MODE {:key :equal_sign :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :equal_sign :modi :shift :repeat false}]}]
         [:open_bracket [:TURN_OFF_SELECTION_MODE {:key :open_bracket :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :open_bracket :modi :shift :repeat false}]}]
         [:close_bracket [:TURN_OFF_SELECTION_MODE {:key :close_bracket :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :close_bracket :modi :shift :repeat false}]}]
         [:quote [:TURN_OFF_SELECTION_MODE {:key :quote :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :quote :modi :shift :repeat false}]}]
         [:backslash [:TURN_OFF_SELECTION_MODE {:key :backslash :repeat false}] nil {:held [:TURN_OFF_SELECTION_MODE :delete_or_backspace :vk_none :vk_none {:key :backslash :modi :shift :repeat false}]}]

]}