{:des "RAISE LAYER"
 :rules [
;TODO      [:!Oright_command :TURN_ON_NUM_SYM_LAYER nil {:afterup :TURN_OFF_NUM_SYM_LAYER}]
      [:!Ospacebar :spacebar nil {:afterup :TURN_ON_WRITING_LAYER}]

      ; left hand
      [:!Ograve_accent_and_tilde :tilde nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O1 :exclaimation-mark nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O2 :at nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O3 :hash nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O4 :dollar nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O5 :percent nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O6 :caret nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O7 :ampersand nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O8 :asterisk nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O9 :open_bracket nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O0 :close_bracket nil {:afterup :TURN_ON_WRITING_LAYER}]

      ; left hand
      [:!Oq {:key :grave_accent_and_tilde :repeat false} nil {:afterup :TURN_ON_WRITING_LAYER :held [:delete_or_backspace {:key :grave_accent_and_tilde :modi :shift :repeat false}]}]
      [:!Ot {:key :quote :modi :shift :repeat false} nil {:afterup :TURN_ON_WRITING_LAYER :held [:delete_or_backspace {:key :8 :modi :shift :repeat false}]}]
      [:!Og {:key :hyphen :modi :shift :repeat false} nil {:afterup :TURN_ON_WRITING_LAYER :held [:delete_or_backspace {:key :3 :modi :shift :repeat false}]}]
      [:!Od {:key :equal_sign :repeat false} nil {:afterup :TURN_ON_WRITING_LAYER :held [:delete_or_backspace {:key :6 :modi :shift :repeat false}]}]

      [:!Ow :open_braces  nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!Of :close_braces nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!Op {:key :hyphen :repeat false} nil {:afterup :TURN_ON_WRITING_LAYER :held {:key :period :modi :shift :repeat false}}]
      [:!Ob :dollar nil {:afterup :TURN_ON_WRITING_LAYER}]

      [:!Oa :quote nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!Or :open_parenthesis  nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!Os :close_parenthesis nil {:afterup :TURN_ON_WRITING_LAYER}]

      [:!Oz :at nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!Ox :open_bracket nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!Oc :close_bracket nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!Ov :pipe nil {:afterup :TURN_ON_WRITING_LAYER}]
      ; right hand
      [:!Oj :backslash nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O#SSl :7 nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O#SSu :8 nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O#SSy :9 nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!Osemicolon :exclaimation-mark nil {:afterup :TURN_ON_WRITING_LAYER}]

      [:!Om :plus nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O#SSn :4 nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O#SSe :5 nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O#SSi :6 nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!Oo :0 nil {:afterup :TURN_ON_WRITING_LAYER}]

      [:!Ok :ampersand nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O#SSh :1 nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O#SScomma :2 nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!O#SSperiod :3 nil {:afterup :TURN_ON_WRITING_LAYER}]
      [:!Oslash :tilde nil {:afterup :TURN_ON_WRITING_LAYER}]
 ]}
