{:profiles     {:Standalone2 {:default true
                              :alone   180
                              :held    181
                              :sim     50
                              :delay   600}}
 :applications {
                 :intellij ["^com\\.jetbrains\\.intellij$"]
                 :teams ["^com\\.microsoft\\.teams$"]
                 :firefox ["^org\\.mozilla\\.firefox$"]
                 :safari ["^com\\.apple\\.Safari$"]
                 }
 :devices      {:mac [{:vendor_id 1452 :product_id 832}
                      {:vendor_id 76 :product_id 668}
                      {:vendor_id 1118 :product_id 1957}
                      ]}
 :froms {
          :gcs-q {:key :!CTSq}
          :gcs-w {:key :!CTSw}
          :gcs-f {:key :!CTSf}
          :gcs-p {:key :!CTSp}
          :gcs-b {:key :!CTSb}
          :gcs-a {:key :!CTSa}
          :gcs-r {:key :!CTSr}
          :gcs-s {:key :!CTSs}
          :gcs-t {:key :!CTSt}
          :gcs-g {:key :!CTSg}
          :gcs-z {:key :!CTSz}
          :gcs-x {:key :!CTSx}
          :gcs-c {:key :!CTSc}
          :gcs-d {:key :!CTSd}
          :gcs-v {:key :!CTSv}
          :gcs-j {:key :!CTSj}
          :gcs-l {:key :!CTSl}
          :gcs-u {:key :!CTSu}
          :gcs-y {:key :!CTSy}
          :gcs-m {:key :!CTSm}
          :gcs-n {:key :!CTSn}
          :gcs-e {:key :!CTSe}
          :gcs-i {:key :!CTSi}
          :gcs-o {:key :!CTSo}
          :gcs-k {:key :!CTSk}
          :gcs-h {:key :!CTSh}
          :gcs-semicolon {:key :!CTSsemicolon}
          :gcs-comma {:key :!CTScomma}
          :gcs-period {:key :!CTSperiod}
          :gcs-slash {:key :!CTSslash}

          :gcs-open_bracket {:key :!CTSopen_bracket}
          :gcs-close_bracket {:key :!CTSclose_bracket}
          :gcs-quote {:key :!CTSquote}
          :gcs-backslash {:key :!CTSbackslash}

}
 :tos {
         ; symbols
        :exclaimation-mark {:key :1 :modi :shift}
        :at {:key :2 :modi :shift}
        :hash {:key :3 :modi :shift}
        :dollar {:key :4 :modi :shift}
        :percent {:key :5 :modi :shift}
        :caret {:key :6 :modi :shift}
        :ampersand {:key :7 :modi :shift}
        :asterisk {:key :8 :modi :shift}

        :hyphen {:key :hyphen}
        :underscore {:key :hyphen :modi :shift}
        :equal {:key :equal_sign}
        :plus {:key :equal_sign :modi :shift}
        :semicolon {:key :semicolon}
        :colon {:key :semicolon :modi :shift}

        :open_parenthesis {:key :9 :modi :shift}
        :close_parenthesis {:key :0 :modi :shift}
        :open_bracket {:key :open_bracket}
        :close_bracket {:key :close_bracket}
        :open_braces {:key :open_bracket :modi :shift}
        :close_braces {:key :close_bracket :modi :shift}

        :less_than {:key :comma :modi :shift}
        :greater_than {:key :period :modi :shift}
        :backquote {:key :grave_accent_and_tilde}
        :tilde {:key :grave_accent_and_tilde :modi :shift}
        :dquote {:key :quote :modi :shift}
        :pipe {:key :backslash :modi :shift}
        :question {:key :slash :modi :shift}

        :previous-tab {:key :!CSopen_bracket}
        :next-tab {:key :!CSclose_bracket}
}
 :main         [
                 {:des "missing zmk features" :rules [
                     [:!!t {:pkey :button1}]
                     [:!TOSup_arrow :!TOup_arrow]
                     [:!!3 :!CSm]
                 ]}


;                bookmarks
;                focus app: teams, IJ, firefox, outlook, iterm
;                focus last app
;                prev tab
;                next app
;                clip history
;                ss clipboard
;                ss tool
;                search selected
;                search selected diki
;                os light/dark mode
;                open app via keyboard
;                emoji layer


                {:des   "APP SHORTCUT LAYER"
                 :rules [ :teams
;                         [:!CSopen_bracket [:!T1]]
                         [:!CSclose_bracket [:!CSm]]
                          :firefox
                         [:gcs-r :!Ct]
                         [:gcs-s :!Cw]
                         [:gcs-t :!Ct]
                         [:gcs-g [:!Ct :previous-tab :!Cw]]
                          :intellij
                         [:!CTSx :!CSopen_bracket]
                         [:!CTSc :!CSclose_bracket]

                         [:!CSopen_bracket [:!T1]]
                         [:!CSclose_bracket [:!Ce]]


                         [:gcs-q :!Oq]
                         [:gcs-w :!Of7]
                         [:gcs-f :!Td]
                         [:gcs-p :!CSt]
                         [:gcs-b :!Oslash]

;                         [:gcs-a ]
                         [:gcs-r :!Sf6]
                         [:gcs-s :!Tr]
                         [:gcs-t :!Cs]
;                         [:gcs-g :!On]

                         [:gcs-z :!COz]
;                         [:gcs-x :left_option :left_opthion :left_option]
;                         [:gcs-c ]
                         [:gcs-d :!C9]
                         [:gcs-v :!T2]

                         [:gcs-j :!CTc]
                         [:gcs-l :!COn]
                         [:gcs-u :!TSd]
                         [:gcs-y :!COl]
                         [:gcs-semicolon :!Of8]

                         [:gcs-m :!COm]
                         [:gcs-n :!COs]
                         [:gcs-e :!TSr]
                         [:gcs-i :!Co]
                         [:gcs-o :!CSo]

                         [:gcs-k :!COv]
                         [:gcs-h :!TOr]
                         [:gcs-comma :!CSm]
                         [:gcs-period :!CSu]
                         [:gcs-slash :!CF8]


                         [:gcs-open_bracket :!Om]
                         [:gcs-close_bracket :!Oreturn_or_enter]
                         [:gcs-quote :!CSreturn_or_enter]
;                         [:gcs-backslash :!CSdelete_or_backspace]

                         [:!Sdelete_or_backspace :!CSdelete_or_backspace]


                 ]}


                {:des   "override option"
                 :rules [ :mac
                            [:!Wspacebar :right_option]
                        ; [:!OOq []]
                          [:!OOw []]
;                          [:!OOe []]
;                          [:!OOr :!CTO2]
                          [:!OOt :!CTO1]

;                          [:!OOa []]
;                          [:!OOs []]
                          [:!OOd :open_parenthesis]
                          [:!OOf :close_parenthesis]
                          [:!OOg :!Tq]

;                          [:!OOz []]
;                          [:!OOx []]
;                          [:!OOc []]
                          [:!OOv :!COc]
                          [:!OOb :!!b]
                          ; right hand
                          [:!OOy []]
                          [:!OOu []]
                          [:!OOi []]
;                          [:!OOo []]
                          [:!OOp []]

                          [:!OOh []]
                          [:!OOj []]
                          [:!OOk []]
;                          [:!OOl []]
                          [:!OOsemicolon []]

;                          [:!OOn []]
;                          [:!OOm []]
                          [:!OOcomma :previous-tab]
                          [:!OOperiod :next-tab]

                          [:!Oz :previous-tab]
                          [:!Ox :next-tab]
;                          [:!OOslash []]

                          [:!OO1 :!CTO1]
                          [:!OO2 :!CTO2]
                          [:!OO3 :!CTO3]
                          [:!OO4 :!CTS4]
                          [:!OO5 :!CS5]

                          [:!OOtab :!CTOs]

                          [:!OOopen_bracket :!!open_bracket]
                          [:!OOclose_bracket :!!close_bracket]
                          [:!OObackslash :!TSw]

                          [:!OO9 :!TOright_arrow]
                          [:!OO0 :!TOup_arrow]
                          [:!OOhyphen :!TOdown_arrow]
                          [:!OOequal_sign :!TOleft_arrow]

                          [:!CST4 []]
                          [:!CT4 []]
                          [:!CS4 []]
                          [:!CST5 []]
                          [:!CT5 []]
                          [:!CS5 []]
                          [:!COc []]
                 ]}

                {:des   "MAC qwerty specific"
                 :rules [:mac

                         [:!Tdelete_or_backspace :delete_forward]
                         [:##caps_lock :##left_control nil {:alone :escape}]
                         [:##return_or_enter nil nil {:held :right_control :alone :return_or_enter}]

                         [:##left_control :!CTOleft_shift]

                         [:##right_shift nil nil {:held :right_shift :alone :!Otab :params {:held 100 :alone 99}}]
                         [:##right_command :##right_command nil {:alone [:!Ctab] :params {:held 120 :alone 119}}]


                         [:!!left_arrow :!TOleft_arrow]
                         [:!!right_arrow :!TOright_arrow]
                         [:!!up_arrow :!TOup_arrow]
                         [:!!down_arrow :!TOdown_arrow]

                         [{:key :9 :modi :shift} []]
                         [{:key :0 :modi :shift} []]
                 ]}

]}

